.h-100-vh {
    height: 100vh;
}
.h-75-vh {
    height: 75vh;
}
.h-50-vh {
    height: 50vh;
}
.h-25-vh {
    height: 25vh;
}



h3 {
    font-weight: bold;
}

.text-nav{
    font-weight: bold;
    color: black;
}



.resume{
    background-color: #219B9D;
    border: 1px solid #1b7c7e;
}
.projects{
    background-color: #FF8000;
    border: 1px solid #c76503;
}
.contact{
    background-color: #4C1F7A;
    border: 1px solid #361557;
}




.circular-image {
    max-width: 400px;       
    max-height: 400px; 
    width: 65vw; 
    height: 65vw;    
    border-radius: 50%; 
}


.logo{
    width: 25vw;        
    height: 25vw;
    max-width: 80px;    
    max-height: 80px;
}


.circle {
    width: 25vw;        
    height: 25vw;
    max-width: 150px;    
    max-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
    font-size: large;
    color: black;
    text-align: center;
}

.circle:hover {
    background-color: rgba(0, 255, 255, 0);
    color: black;
    border: 1px solid black;
}


.offcanvas {
    width: 150px !important;
}


/**Desktop*/
@media screen and (max-width: 769px) {
    .desktop-none {
      display: none;
    }

    .center-in-small{
        justify-content: center;
    }

  }

/* **** */
@media screen and (min-width: 770px) {
    .nav-icon {
      display: none;
    }

    .center-desktop{
        align-items: centerg;
    }

    .start-desktop{
        align-items: start;
    }
    
  }

  